*{
  font-family: 'Cairo';
}

.App #languages{
  z-index: 9999;
  position: absolute;
  right: 18%;
}
.App #languages li{display: inline-block;padding: 0px 0px 0px 20px;font-size: 17px;}
.App #languages button{border-width: 0;background: none;outline: none;}
.App .focus{font-weight: 900;zoom:1.2}
.App #languages li{color: #f5f5f5;opacity: .6;letter-spacing: 0px;transition: .5s}
.App #languages li:hover{opacity: 1;transition: .5s}

.Homepage{
  position: absolute;
  background: url('../images/bg.jpg') no-repeat #f5f5f5 ;
  background-size: cover; 
  width: 100%;
  height: 100%; 
  padding: 0px !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.55);
  box-sizing: border-box;
  display: flex;
}

.Homepage .column{
  flex: 50%;
}

/* Start of Logo Styling */
.Homepage #logo-div img{
  position: absolute;
  width: 40%;
  margin-top: 0em;
  left: 5%;
  top: 10%;
}
.Homepage #logo-div #logo-front{ z-index: 2; -webkit-animation: rotation 5s linear, 5s rotation 5s linear;}
.Homepage #logo-back{ z-index: 1;}

@-webkit-keyframes rotation {
  0% { -webkit-transform: rotate(0deg);}
  25% {-webkit-transform: rotate(20deg);}
  50% {-webkit-transform: rotate(10deg);}
  75% {-webkit-transform: rotate(15deg);}
  100% {-webkit-transform: rotate(0deg);}
}
/* End of Logo Styling */

.Homepage .text{color: white; text-align: right; margin: 16% 18% auto 30%}
.Homepage #heading{font-size: 3.5rem; top: 20%; position: absolute; margin: 5% 0% 0% 7%;}
.Homepage #title{font-size: 6rem; margin-bottom: -10%;}
.Homepage #caption{font-size: 1.5rem; color: #f5f5f5;}
.Homepage #start-button{font-size: 1.5rem;color: #f5f5f5; background-color: #d62839; padding: 1% 35%; border-radius: 15px; border: 0px; margin-top: 5%; opacity: 0.8}
.Homepage #start-button:hover{opacity: 1}